<p>administratora centra -ADMIN HOMEPAGE</p>



<table>
 <th> Usefull Links</th>
 <tr>
    <td><a routerLink="http://localhost:55267/centres/6"> Working Calendar</a></td>
</tr>
<tr>  
<td> <a routerLink="http://localhost:4200/complaints"> Shedule New Examination </a></td>
</tr>

<tr>
<td><a routerLink="http://localhost:4200/users"> Users Profiles</a></td>
</tr>

<tr>
<td> <a routerLink="http://localhost:4200/BLOODUSERS">Start Appointment and enter infos about Examination</a></td>
</tr>

<tr>
<td> <a routerLink="http://localhost:4200/BLOODUSERS"> List of all users that gave blood in Medical Center</a></td>
</tr>

</table>