<p>centers-list works!</p>

<h2> Center's List</h2>

<table class="table table-striped">
    <thead>
            <tr>
                <th>Name<th>
                <th>Street<th>
                <th>Adress number<th>
                <th>Average Rate<th>
                <th>Description<th>
                <th> Admin<th>
                <th>Average Rate</th>
                <th> Reserve Appointments<th>
        </tr>

    </thead>

    <tbody>
            
        <tr *ngFor="let center of centers">
            <td>{{center.name}}</td>

        </tr>

    </tbody>



   



</table>

