<h2>Add Center's Admin</h2>

<div>
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="title">Old password</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="oldPassword" name="oldPass" />
      </div>

      <div class="form-group">
        <label for="description">New password</label>
        <input class="form-control" id="description" required [(ngModel)]="newPassword" name="newPass" />
      </div>

      <div class="form-group">
        <label for="description">Repeat new password</label>
        <input class="form-control" id="description" required [(ngModel)]="repeatedNewPassword" name="repNewPass" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="changePassword()" [disabled]="!oldPassword || !newPassword || !repeatedNewPassword">Change password</button>
      </div>

      <div class="text-danger" *ngIf="error">
        {{error}}
      </div>
    </div>
  </div>
</div>
