/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }*/

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--text-color);
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;

}

