<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3" *ngIf="isMedicaCentreAdmin">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Search by surname"
          [(ngModel)]="surname"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="filterByNameAndSurname()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div>
      <a href="http://localhost:4200/add">
        <button type="submit" class="badge badge-success mb-2">

          Register

        </button>
      </a>
    </div>
    <div class="col-md-6">
      <h4>Users List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)"
        >
          {{ user.name }} {{user.surname}}
        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <app-user-details
        [viewMode]="true"
        [currentUser]="currentUser"
      >
    </app-user-details>
    </div>
  </div>
